.product-container{

    
    padding-left: 30px 40px;
    width: 100%;

}
.main-product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.box{
    border: 2px solid black;
    cursor: pointer;
    width: 400px;
    height: 580px;
    background: #472020;
    margin-top: 20px;
    overflow: hidden;
    padding: 30px 10px;
    box-shadow: 5px 5px 4px black;
    transition: transform .1s; /* Animation */

    
}
.img-box{
    height: 400px;
    width: 200px;



}
.detail h4{
    text-transform: capitalize;
    color: rgb(7, 238, 238);
    font-size: 14px;
}
.detail h2{
    font-size: 18px;
    color: rgb(7, 238, 238);
    font-weight: 150;
    text-transform: uppercase;
    margin-top: 10px;
}
.detail.info{
    display: flex;
}
.info p{
    color: rgb(7, 238, 238);
    
}
.detail button{
   background-color:  red;
   margin-top: 10px;
   margin-left: 20px;
   padding: 6px 30px;
   border: none;
   outline: none;
   color: black;
}
.detail button:hover{
    background-color: greenyellow;
}




